{% extends '_.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block style %}

<style>
    .currentBidForm {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3px;
    }


    .profileRow {
        margin-bottom: 3px;
    }

    .card {
        min-height: 350px;
        margin-bottom: 20px;
    }

    #teamTable {
        font-size: small;
    }

    #teamTable thead th td {
        text-align: center;
    }
</style>

{% endblock %}

{% block main %}



<div class="card">

    <div class="card-body">
        <!-- To Resole Refresh -->
        <div class="row row-cols-1 row-cols-lg-3 row-cols-sm-1 row-cols-md-1 align-items-center">

            <div id="bidding_wraper" class="col col-lg-9 row row-cols-1 row-cols-lg-2 row-cols-sm-1 row-cols-md-1 align-items-center">
                {% include "root/partials/bidding_control.html" %}
            </div>
            
            <div class="col col-lg-3">
                <div class="card">
                    <div class="card-header text-center">
                        Youtube Theme
                    </div>

                    <div class="card-body">
                        <div class="float-center">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch"
                                    id="flexSwitchCheckDefault">
                                <label class="form-check-label" for="flexSwitchCheckDefault"> Team Balance</label>
                            </div>
                        </div>
                        <div class="float-center">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch"
                                    id="flexSwitchCheckDefault">
                                <label class="form-check-label" for="flexSwitchCheckDefault"> Timer </label>
                            </div>
                        </div>
                        <div class="float-center">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch"
                                    id="flexSwitchCheckDefault">
                                <label class="form-check-label" for="flexSwitchCheckDefault"> Marquee List Show
                                    State</label>
                            </div>
                        </div>
                        <hr>
                        <div class="float-center">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch"
                                    id="flexSwitchCheckDefault">
                                <label class="form-check-label" for="flexSwitchCheckDefault"> Allow Owners to Select
                                    Unsold</label>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            
        </div>

        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 mt-3">
            <div class="col">
                <div class="card">
                    <div class="card-header text-center">
                        Team Balance
                    </div>
                    <div class="card-body">
                        <table id="teamTable" class="table table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Sr</th>
                                    <th>Logo</th>
                                    <th>Team</th>
                                    <th>Purse</th>
                                    <th>Balance</th>
                                    <th>Max-Bid</th>
                                    <th>Players</th>
                                    <!-- <th>Options</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in teams %}
                                <tr>
                                    <td>#{{i.id}}</td>
                                    <td>
                                        <img src="{{i.team_logo.url}}" class="rounded-circle" width="50px" height="40px"
                                            alt="">
                                    </td>
                                    <td>{{i.team_name}}</td>
                                    <td>{{i.purse}}</td>
                                    <td>{{i.balance}}</td>
                                    <td>{{i.max_bid}}</td>
                                    <td>{{i.player_count}}/{{i.auction.squad_limit}}</td>

                                    <!-- <td class="btn-group">
                                        <button class="btn btn-success">Fund</button>
                                        <button class="btn btn-warning">Image</button>
                                        <button class="btn btn-info">Name</button>
                                    </td> -->
                                </tr>
                                {% endfor %}
                            </tbody>

                        </table>
                    </div>
                </div>

            </div>

            <div class="col">
                <div class="card">
                    <div class="card-header text-center">
                        Player Details
                    </div>
                    <div class="card-body"  >
                        {% include 'root/partials/dash_players.html' %}
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>






{% endblock %}

<!-- Scripts -->

{% block script %}

<script>
    new DataTable('#teamTable', {
        scrollCollapse: true,
        scrollY: 200
    });

    new DataTable('#playerTable', {
        scrollCollapse: true,
        scrollY: 200
    });

</script>


{% endblock %}