<div class="col col-lg-3">
    <div class="card text-center">
        <div class="card-header">
            Current Bid
        </div>
        <div class="card-body">
            {% if current_bid %}
            <form class="currentBidForm">
                {% csrf_token %}
                <input type="text" disabled value="{{current_bid.player.player_name}}" name="player_id" required
                    id="player_id" class="form-control">
                <button type="button" disabled class="btn btn-info"><i class="ri-play-line"></i>Statred</button>
            </form>
            {% else %}
            <form method="post" class="currentBidForm" hx-confirm="Are you sure?"
                hx-post="{% url 'start_bid' auction.id %}" hx-swap="innerHTML" hx-target="#bidding_wraper"
                hx-on::after-request="this.reset()">
                {% csrf_token %}
                <input type="number" name="player_id" placeholder="Player ID" required id="player_id"
                    class="form-control">
                <button type="submit" class="btn btn-info"><i class="ri-play-line"></i>Start</button>
            </form>


            {% endif %}

            <br>

            <form action="" method="post" class="currentBidForm">
                <input type="number" name="uid" placeholder="Player ID" required id="" class="form-control">
                <button type="submit" class="showTransition"><i class="ri-slideshow-3-line"></i>Show</button>
            </form>
        </div>
    </div>
</div>

<div class="col col-lg-9 row row-cols-1 row-cols-lg-2 row-cols-sm-1 row-cols-md-1 align-items-center">
    <div class="col col-lg-8">
        <div class="card text-center">
            <div class="card-header">
                Player Info
            </div>
            <div class="card-body" id="player_info">
                {% if player %}

                <style>
                    #player-info tr td {
                        padding: 2px;
                    }
                </style>

                <div class="row justify-content row-cols-lg-2 row-cols-1 row-cols-md-2 row-cols-sm-1">
                    <div class="col">

                        <!-- Profile Info -->
                        <table class="text-start table p-3" id="player-info">
                            <tbody>
                                <tr>
                                    <td>UID</td>
                                    <td>#{{player.id}}</td>
                                </tr>

                                <tr>
                                    <td>Name</td>
                                    <td class="text-primary">{{player.player_name}}</td>
                                </tr>

                                <tr>
                                    <td>Category</td>
                                    <td>{{player.player_category.name}}</td>
                                </tr>

                                <tr>
                                    <td>Baseprice</td>
                                    <td class="text-warning">{{player.player_category.base_price}}</td>
                                </tr>
                            </tbody>
                        </table>


                    </div>
                    <div class="col"><img src="{{player.player_logo}}" width="60%" alt="logo">
                    </div>
                </div>
                <hr>
                <form action="{% url 'sell_player' current_bid.id %}" method="POST">
                    {% csrf_token %}
                    <div class="row row-cols-1 row-cols-lg-2">
                        <div class="form-group col text-start">
                            <label for="current_price">Current Bid</label>
                            <input type="number" name="current_price" value="{{current_bid.curent_price}}"
                                class="form-control" id="current_price">
                        </div>
                        <div class="form-group col text-start">
                            <label for="sold_to">Sold to</label>
                            <select name="sold_to" id="sold_to" class="form-select">
                                <option value="-1" defaukt>--- ---</option>
                                {% for i in teams %}
                                <option value="{{i.id}}">{{i.team_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="btn-group mt-3 w-100">
                        <button type="submit" id="sellbtn" class="btn btn-success">Sell </button>

                        <button type="button" id="unsoldbtn" class="btn btn-danger">Unsold</button>
                    </div>
                </form>


                {% else %}
                <p>No Bid started</p>
                {% endif %}

            </div>
        </div>
    </div>
    <div class="col col-lg-4">
        <div class="card">
            <div class="card-header text-center">
                Bid Controls
            </div>
            <div class="card-body">

                <div class="btn-group w-100">
                    <button class="btn btn-success col-8" id="sequence_btn">Sequence BID</button>
                    <button id="undo" class="btn btn-danger">Undo</button>
                </div>
                <hr>

                <div class="row mt-3">
                    <div class="col-6">
                        <button id="b500" class="btn btn-info w-100">BID 500</button>
                    </div>

                    <div class="col-6">
                        <button id="b1000" class="btn btn-info w-100">BID 1k</button>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-6">
                        <button id="b2000" class="btn btn-info w-100">BID 2k</button>
                    </div>

                    <div class="col-6">
                        <button id="b3000" class="btn btn-info w-100">BID 3k</button>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-6">
                        <button id="b5000" class="btn btn-info w-100">BID 5k</button>
                    </div>

                    <div class="col-6">
                        <button id="b10000" class="btn btn-info w-100">BID 10k</button>
                    </div>
                </div>

            </div>
        </div>
        {% if player %}
        <script>

            document.getElementById("sellbtn").addEventListener("click", () => {
                document.getElementById("sellbtn").innerHTML = `<i class="fa fa-spin"></i> Loading`
            })

            document.getElementById("unsoldbtn").addEventListener("click", () => {
                document.getElementById("sold_to").value = -1;
                if (confirm("Are You Want to Unsold this Player")) {
                    document.getElementById("sellbtn").click()
                }
            })


            // Socket Connection for Bid

            const playerId = "{{player.id}}";
            const auctionId = "{{auction.id}}";
            const socket = new WebSocket('ws://' + window.location.host + `/ws/auction/${auctionId}/`);

            socket.onopen = function () {
                console.log("WebSocket connection established");
            };

            socket.onclose = function (e) {
                console.error("WebSocket closed unexpectedly");
            };

            socket.onerror = function (e) {
                console.error("WebSocket error:", e);
            };

            function sendPriceUpdate() {
                const currentPrice = parseFloat(document.getElementById("current_price").value) || 0;
                const message = {
                    player_id: playerId,
                    price: currentPrice
                };
                if (socket.readyState === WebSocket.OPEN) {
                    socket.send(JSON.stringify(message));
                }
            }

            let basePrice = parseFloat(document.getElementById("current_price").value) || 0;
            let price_list = []; // Stores the increments

            function updatePrice() {
                let totalPrice = basePrice + price_list.reduce((acc, val) => acc + val, 0);
                document.getElementById("current_price").value = totalPrice;
                // Send TO Clients
                sendPriceUpdate();
            }

            document.getElementById("sequence_btn").addEventListener("click", () => {
                price_list.push(1000);
                updatePrice();
            });

            document.getElementById("b500").addEventListener("click", () => {
                price_list.push(500);
                updatePrice();
            });

            document.getElementById("b1000").addEventListener("click", () => {
                price_list.push(1000);
                updatePrice();
            });

            document.getElementById("b2000").addEventListener("click", () => {
                price_list.push(2000);
                updatePrice();
            });

            document.getElementById("b3000").addEventListener("click", () => {
                price_list.push(3000);
                updatePrice();
            });

            document.getElementById("b5000").addEventListener("click", () => {
                price_list.push(5000);
                updatePrice();
            });

            document.getElementById("b10000").addEventListener("click", () => {
                price_list.push(10000);
                updatePrice();
            });

            document.getElementById("undo").addEventListener("click", () => {
                if (price_list.length > 0) {
                    price_list.pop();
                    updatePrice();
                }
            });
        </script>
        {% endif %}

    </div>

</div>