{% if current_bid %}
<form class="currentBidForm">
    {% csrf_token %}
    <input type="text" disabled value="{{current_bid.player.player_name}}" name="player_id" 
        required id="player_id" class="form-control">
    <button type="button" disabled class="btn btn-info"><i class="ri-play-line"></i>Statred</button>
</form>
{% else %}
<form method="post" class="currentBidForm" hx-confirm="Are you sure?" hx-post="{% url 'start_bid' auction.id %}"
    hx-swap="innerHTML" hx-target="#player_info" hx-on::after-request="this.reset()">
    {% csrf_token %}
    <input type="number" name="player_id" placeholder="Player ID" required id="player_id" class="form-control">
    <button type="submit" class="btn btn-info"><i class="ri-play-line"></i>Start</button>
</form>


{% endif %}

<br>

<form action="" method="post" class="currentBidForm">
    <input type="number" name="uid" placeholder="Player ID" required id="" class="form-control">
    <button type="submit" class="showTransition"><i class="ri-slideshow-3-line"></i>Show</button>
</form>